
<ion-header>
    
    <ion-navbar>
      
      <button ion-button class="custom-icon" (click) = "openPage('home')"><ion-icon class="custom-icon-home" name="home"></ion-icon></button>
     <!-- <ion-title class="titleText">WELCOME TO TOXIC</ion-title> -->

    </ion-navbar>

  
  </ion-header>




<ion-content class="body_bg">

  <ion-card >
    <ion-grid>
      <ion-row *ngIf="total == 0">
        <ion-col>
        <p class="empty-cart-msg">  Your cart is empty. <br /> Select Menu to get started.</p> 
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>



  <ion-list>
    <ion-item *ngFor = "let item of cartItems; let i = index">

      <ion-thumbnail item-left>
        <img [src]="item.product.featured_src" style = "width: 60px !important;" />
      </ion-thumbnail>

      <h2> {{item.product.title}} </h2>
      <p> {{item.qty}}</p>
      <p> {{item.product.price}}</p>
      <button ion-button clear item-right color="danger" (click) = "removeFromCart(item, i)">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-2>

          </ion-col>
          
          <ion-col col-4>
            <b>Total</b>
          </ion-col>

          <ion-col col-3>

          </ion-col>

          <ion-col col-3 style="text-align: right">
           $ <b> {{total.toFixed(2)}} </b>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-grid>
  <button ion-button class="checkoutButton" (click) = "openPage('checkout')"><p class="menu-button-p"><ion-icon name="cart"> CheckOut</ion-icon></p> </button>

</ion-content>

<ion-footer class="middle-card">

  <ion-card >
    <div class="middle-card">
   <ion-grid>
       <ion-row>
         <ion-col>
          <button ion-button class="menuButton" (click) = "openPage('menu')"><p class="menu-button-p"><ion-icon name="beer"> Full Menu</ion-icon></p> </button>
         </ion-col>
        </ion-row>
        </ion-grid>
      </div>
  </ion-card>

</ion-footer>
