
<ion-header>
  
  <ion-navbar>
    <!--
    <div class="logoimage">
    <img src= "./assets/images/color.png"  /></div>
   <ion-title class="titleText">WELCOME TO TOXIC</ion-title> -->
  </ion-navbar>

</ion-header>

<ion-content no-padding class="middle-card">
  <ion-fab right top edge (click)="openCart()">
    <button ion-fab color="danger">
      <ion-icon name = "cart">
      </ion-icon>
    </button>
  </ion-fab> 
  
  <ion-card (click) = "openPage('menu')">
    
    <p class="banner">Earn points toward FREE DINNER for every qualifying order. Get started now.</p>
    
  </ion-card>


  <ion-card class="pic_slide">
    
      <ion-slides autoplay = "3000">
  
        <ion-slide *ngFor="let number of [7,8,9]">
          <img src= "./assets/images/{{number}}.png" />
        </ion-slide>
      </ion-slides>
    </ion-card>
  
<!--
  
  <img style="margin-top: 10px;" src="./assets/images/banner.jpg" />

  <ion-grid>
    <ion-row>
      <ion-slides #productSlides> 
        <ion-slide *ngFor="let product of products"> 
          <ion-card no-padding>
            <img [src]="./assets/images/{{number}}.png" />
            <h1 padding center> {{product.title}} </h1>

            <p center padding [innerHTML] = "product.short_description">  </p>

          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor = "let product of moreproducts" text-wrap (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src] = "product.featured_src" />
      </ion-thumbnail>

      <h2> {{ product.title}} </h2>

      <p>
        <span [innerHTML]="product.short_description.substr(0,50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>

      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

    </ion-item>
  </ion-list>


  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>

  </ion-infinite-scroll>
-->


</ion-content>

<ion-footer>
  
    <ion-card class="middle-card">
        <ion-grid >

            <ion-row>

                <ion-col col-4>  
                  <button ion-button class="button_transparent" (click) = "openPage('location')">
                      <ion-icon name="locate"></ion-icon> 
                      <div class="button_text">&nbsp;Location</div>
                    </button>             
                </ion-col>
                
                <ion-col  col-4 *ngIf="!loggedIn">
                  <button ion-button class="button_transparent" (click) = "openPage('login')">
                      <ion-icon name="person"></ion-icon> 
                      <div class="button_text"> &nbsp; Login</div>
                      </button>
                </ion-col>

                <ion-col col-4 *ngIf="loggedIn">
                  <button ion-button class="button_transparent" (click) = "openPage('personalInfo')">
                      <ion-icon name="contact"> </ion-icon>
                       <div class="button_text">
                          &nbsp; {{ (this.user.firstname == " " ? this.user.username : this.user.firstname) || ""}}</div>
                    </button>
                </ion-col>  

                  <ion-col col-4>  
                      <button ion-button class="button_transparent" (click) = "openPage('news')">
                        <ion-icon name="locate" > </ion-icon>
                        <div class="button_text">&nbsp; News </div>
                          </button>             
                    </ion-col>
              </ion-row>

          <ion-row>
              <ion-col>
                  <button ion-button class="menuButton" (click) = "openPage('menu')"><p class="news_aboutus_p"><ion-icon name="beer"> Full Menu</ion-icon></p>
                  </button>
                </ion-col>    
          </ion-row>


        </ion-grid>
      </ion-card>

</ion-footer>
