page-home {


    ion-card {
        margin:0 !important;
        width:100% !important;
        outline:none;
        border: none;
        overflow: hidden;
    }

    ion-card buttonClass{
        background-color: white;
    }
    /*
    .toolbar-background{
        background-color:#851814;
    }
*/
    .bar-header {
        height: 70px;
    }
    
    .logoimage{
        width:100%;
       height: 100%;
    }

    p.banner{
        color:black;
        font-size: 16px;
        font-weight: bold;
        margin: 3% 8% 3% 5%;
        font-family: "Arial", Helvetica, sans-serif;
    }

   button.button_transparent{
    display: block;
    box-sizing: border-box;
  //  margin-bottom: ;
  //  padding: 8px;
    width: 100%;
   // max-width: 200px;
   color:#851814;
    border: 1px solid #851814;
    background-color:white;
  //  opacity: 0.8;
    border-radius: 3px;
   // color:gray;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    outline: none;
   }

   button.button_transparent:active{
       background-color:rgba(133,24,20, 0.5);
   }
   button.button_transparent:focus{
        background-color:rgba(133,24,20, 0.5);
        border: none;
        outline: none;
   }

   .button_text{
       color:#585656;
       font-size: 90%;
       font-weight: bold;
       font-family: 'Times New Roman', Times, serif;
   }

   .middle-card{
       background-color:#F8F7F7;
       width: 100%;
   }

   .menu-button{
       display: block;
       box-sizing: border-box;
       width:100%;
       background-color: #fff;
       opacity: 0.8;
       color: black;
       letter-spacing: 1px;
       text-align: center;

   }
   
   .menuButton :active{
    background-color:rgba(133,24,20, 0.5);
  }

    .menuButton:focus{
    background-color:rgba(133,24,20, 0.5);
}

   p.full-menu{
       font-size: 28px;
       font-weight: bold;
       color: black;
   }

   header{
    background-color:#851814;
    width:100%;
   }
   
   .button-card{
    background-color:white;
    width: 80%;
    opacity: 0.5;
    width: 100%;
   }

   .menuButton{
       background-color: #851814;
       background-repeat: no-repeat;
       border: none;
       cursor: pointer;
       overflow: hidden;
       outline: none;
       width: 100%;
     //  margin-top: 10%;
   }

   p.news_aboutus_p{
      
       font-size: 20px;
       color: white;
       font-weight: bold;
       font-family: 'Times New Roman', Times, serif;
   }

   .pic_slide{
       position: center;
     //  align-content: middle;
     padding:5%;
     background-color: #F8F7F7;
   //  opacity: 0.7;
   }
}
