<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <ion-fab right top edge (click)="openCart()">
    <button ion-fab color="danger">
      <ion-icon name = "cart">
      </ion-icon>
    </button>
  </ion-fab>
  
  <ion-card>
    <ion-slides autoplay = "3000" pager>

      <ion-slide *ngFor="let number of [1,2,3,4,5,6]">
        <img src= "./assets/images/{{number}}.png" />
      </ion-slide>


    </ion-slides>
  </ion-card>

  <!-- Bannner -->
  <img style="margin-top: 10px;" src="./assets/images/banner.jpg" />

  <ion-grid>
    <ion-row>
      <ion-slides #productSlides> 
        <ion-slide *ngFor="let product of products"> 
          <ion-card no-padding>
            <img [src]="product.featured_src" />
            <h1 padding center> {{product.title}} </h1>

            <p center padding [innerHTML] = "product.short_description">  </p>

          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
  </ion-grid>

  <ion-list>
    <ion-item *ngFor = "let product of moreproducts" text-wrap (click)="openProductPage(product)">
      <ion-thumbnail item-left>
        <img [src] = "product.featured_src" />
      </ion-thumbnail>

      <h2> {{ product.title}} </h2>

      <p>
        <span [innerHTML]="product.short_description.substr(0,50) + '...'"></span>
        <span [innerHTML]="product.price_html"></span>
      </p>

      <button ion-button icon clear item-right>
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

    </ion-item>
  </ion-list>

<!--
  <ion-infinite-scroll (ionInfinite)="loadMoreProducts($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>

  </ion-infinite-scroll>
-->
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          
          <button ion-button color="danger" outline block (click) = "openPage('home')">
            <ion-icon name="home" isActive="false" style="font-size:25px;"> Home</ion-icon></button>
  
        </ion-col>
        <ion-col>
          <button ion-button color="danger" outline block (click) = "openPage('menu')">Menu</button>
        </ion-col>
        <ion-col>
          <button ion-button color="danger" outline block (click) = "openPage('location')">Location</button>
        </ion-col>
        <ion-col  *ngIf="!loggedIn">
          <button ion-button color="danger" outline block (click) = "openPage('login')">
              <ion-icon name="person">Login</ion-icon>
              </button>
        </ion-col>
        <ion-col *ngIf="loggedIn">
          <button ion-button color="danger" outline block (click) = "openPage('logout')">
              <ion-icon name="contact"> Logout</ion-icon>
            </button>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
